.menuToggle{
    position: relative;
}
.menuToggle input{
    display: block;
    width: 40px;
    height: 40px;
    position:absolute;
    top: -15px;
    left: -2px;
    opacity: 0;
    z-index: 2;
}
.menuToggle span{
    display: inline-block;
    width: 20px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #cdcdcd;
    border-radius: 3px;
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                background-color 1s;
}
.menuToggle .spanLeft{
    transform: rotate(45deg) translate(5px, -4px);
}
.menuToggle .spanRight{
    transform: rotate(-45deg) translate(-5px, -4px);
}
.menuToggle input:hover ~ span{
    background: #FF9800;
}
.menuToggle input:checked ~ .spanLeft{
    transform: rotate(-45deg) translate(5px, 4px);
}
.menuToggle input:checked ~ .spanRight{
    transform: rotate(45deg) translate(-5px, 4px);
}
.menuToggle .text{
    transition: font-size 0.5s cubic-bezier(0.77,0.2,0.05,1.0)
}
.menuToggle input:checked ~ .text{
    font-size: 0px;
}