
body{
    background: url(../images/background_worldofwarcraft_shadowlands.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin-right: auto;
    margin-left: auto;
    padding: 10px;
    width: 85%;
    color: rgb(185, 185, 185);
}
nav, section, footer{
    margin: 10px;
    border-radius: 10px;
    background-color: #22242cd5;
}
header{
    margin: 10px;
    text-align: center;
}
header img{
    width: 100%;
}
header img:hover{

}
.desktop{
    display: flex;
    flex-direction: column;
    margin: 10px;
    text-align: center;
    align-content: center;
}
nav div a{
    background-color: rgba(114, 109, 102, 0.233);
    margin: 10px 10px 0px 10px;
    border-radius: 3px;
    padding: 10px;
    color: rgb(185, 185, 185);
}
nav div a:hover, .currentPage{
    background-color: rgb(150, 150, 150);
    color: rgb(114, 109, 102);
}
section{
    padding: 35px 10px 35px 10px;
}
footer{
    padding: 50px 10px 50px 10px;
}
