body{
    background: url(../images/background_worldofwarcraft_shadowlands.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin-right: auto;
    margin-left: auto;
    padding: 10px;
    width: 85%;
    color: rgb(185, 185, 185);
    
}
nav, section, footer{
    margin: 10px;
    border-radius: 10px;
    background-color: #22242cd5;
}
header{
    margin: 10px;
    text-align: center;
}
header img{
    width: 100%;
}
nav .desktop{
    display: flex;
    flex-direction: column;
    margin: 20px;
    text-align: center;
    align-content: center;
}
.outer{
    margin: 0px 0px 20px 0px;
}
nav .desktop .hover, nav a{
    color: rgb(185, 185, 185);
}
nav .desktop .hover{
    border-radius: 3px;
    padding: 10px;
    display: block;
    
    background: linear-gradient(to right, 
    rgb(150, 150, 150) 50%, rgba(114, 109, 102, 0.281) 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: background-position .5s ease-out;
}
.currentPage{
    background-color: rgb(150, 150, 150);
    border-radius: 3px;
    padding: 10px;
    display: block;
}
nav .desktop .hover:hover{
    background-position: left bottom;
}
section{
    padding: 35px 10px 35px 10px;
}
footer{
    padding: 20px 10px 20px 10px;
}
.fotoContainer{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}
.fotoContainer figure{
    text-align: center;
    background-color: #22242c91;
    padding: 20px;
    border-radius: 10%;
    width: 275px;
    margin: 5px;
}
.fotoContainer figure img{
    max-height: 200px;
}
h2{
    display: inline;
}